{% extends "layout.html" %}

{% block title %}All Apps - Django Project{% endblock %}

{% block content %}
    <h1>All Applications</h1>
    <p>Welcome to the applications page! Here you can find a list of all the applications we have developed.</p>
    <ul>
        <li>App 1 - Description of App 1</li>
        <li>App 2 - Description of App 2</li>
        <li>App 3 - Description of App 3</li>
        <li>App 4 - Description of App 4</li>
    </ul>
    <p>Feel free to explore each application and learn more about their features and functionalities.</p>
{% endblock %}